* {
    margin: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
}

body {
    font-family: sans-serif;
    padding: 0 0 0;
}


.cursos div {
    color: black;
    max-width: 200px;
    display: inline-block;
}

.img {
    max-width: 300px;
    display: inline-block;
}

.title_fotos {
    margin-top: 60px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

.title_{
    margin-top: 60px;
}

@media(max-width: 768px) {

    .title_fotos{
        font-size: 20px;
        margin-top: 80px;
    }
}