@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #4cb4f4;
}

body::-webkit-scrollbar {
    display: none;
}

.fotos img {
    max-width: 450px;
}

.title_fotos {
    margin: 60px 5px 0 5px;
    color: white;
    font-family: 'Mali', cursive;
    font-size: 25px;
    text-align: center;
    background: rgba( 0, 136, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.title_fotos h2 {
    margin: 5px 20px 5px 20px;
}

.title_ {
    margin-top: 60px;
}

.content p {
    margin: 0 50px 0 50px;
    font-family: 'Inconsolata', monospace;
}

button {
    background: none;
    border: 2px solid;
    line-height: 1;
    font-family: 'Inconsolata', monospace;
    margin: 0.5em;
    padding: 1em 2em;
}

button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

button:hover, button:focus {
    border-color: var(--hover);
    color: white;
}

.fill {
    --color: white;
    --hover: #0f9bf6;
}

.fill:hover, .fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.cursos div {
    display: inline-block;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
}

.uno {
    padding-top: 200px;
    color: white;
    background: #4cb4f4;
}

.uno header {
    font-size: 50px;
    font-family: 'Mali', cursive;
}

.uno .cursos {
    padding-top: 30px;
    font-family: 'Inconsolata', monospace;
}

.uno .parrafo {
    font-family: 'Inconsolata', monospace;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.dos {
    padding-top: 60px;
    background: white;
    color: #013f88;
}

.dos ul {
    list-style: none;
    padding: 0px;
    margin-left: 40%;
    text-align: left;
}

.dos ul li::before {
    content: "🚀";
    display: inline-block;
}

.dos header h2 {
    font-family: 'Mali', cursive;
    font-size: 40px;
    margin: 50px 0 5px 0;
}

.dos p {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    margin: 0 50px 0 50px;
}

.cuatro {
    padding-top: 100px;
    color: white;
}

.cuatro h2 {
    font-size: 40px;
    font-family: 'Mali', cursive;
}

.cuatro p {
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    margin: 0 50px 0 50px;
}

.cinco {
    padding-top: 100px;
    background: white;
    color: #013f88;
}

ol {
    list-style-type: none;
    counter-reset: lista-personalizada;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

ol li {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding: 4px 0 10px 50px;
    margin-bottom: 10px;
    background: #f5f5f5;
}

ol li:before {
    content: counter(lista-personalizada);
    counter-increment: lista-personalizada;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 40px;
    padding: 8px 8px 8px 5px;
    background: #0f9bf6;
    color: white;
    height: 45px;
}

.cinco h2{
    font-size: 40px;
    font-family: 'Mali', cursive;
}

.cinco p{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    margin: 0 50px 0 50px;
}

.contenedor {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.contenedor::-webkit-scrollbar {
    display: none;
}

.parrafo .text-p {
    margin: 10px;
}

.s4-p-fotos {
    padding-top: 30px;
}

@media(max-width: 768px) {
    .title_fotos {
        font-size: 20px;
        margin: 80px 10px 0 10px;
    }
    .uno {
        padding-top: 100px;
    }
    .uno header {
        font-size: 30px;
    }
    .uno .cursos {
        padding-top: 30px;
    }
    .uno .parrafo {
        margin: 10px 10px 0 10px;
    }
    .content p {
        margin: 0 20px 0 20px;
    }
    .content h1 {
        margin: 0 5px 0 5px;
    }
    .dos {
        padding-top: 100px;
    }
    .dos header h2 {
        font-size: 26px;
        margin: 10px 0 5px 0;
    }
    .dos p {
        margin: 0 10px 0 10px;
        font-size: 16px;
    }
    .dos ul {
        margin-left: 30%;
    }
    .cuatro {
        padding-top: 100px;
    }
    .cuatro h2 {
        font-size: 26px;
    }
    .cuatro p {
        font-size: 16px;
    }

    .cinco h2 {
        font-size: 26px;
    }
    .cinco p {
        font-size: 16px;
    }

    ol li:before{
        margin-left: 8px;
        margin-right: 8px;
    }
}