@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #013f88;
}
h1,
h2,
a {
  font-family: "Waiting for the Sunrise", cursive;
}
h2 {
  font-size: 2em;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  display: inline-block;
}
nav {
  padding: 15px;
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 5px;
  justify-content: space-between;
}

main {
  text-align: center;
  margin: 0 auto;
}

section {
  margin-top: 3rem;
}

ul li {
  text-align: left;
}
ul li::marker {
  content: "🚀";
}

ol li {
  text-align: left;
}
.cursos [class*="box"] {
  background-color: #013f88;
  max-width: 250px;
  display: inline-block;
  margin-bottom: 10px;
}
div[class*="box"] {
  height: 33.33%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.btn {
  line-height: 25px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}
/* BOTON 1 */
.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
/* BOTON 2 */
.btn-two {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.btn-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.btn-two:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-two::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.btn-two:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.fotos img {
  max-width: 450px;
  display: inline-block;
}
.container {
  max-width: 900px;
  display: inline;
}
.cody-img img {
  width: 40px;
  height: 40px;
  clip-path: circle(50% at 50% 50%);
}
.container-hero {
  position: relative;
  background: #3d7eaa;
  background: -webkit-linear-gradient(to right, #ffe47a97, #3d7eaa97),
    url("../images/4.jpg");
  background: linear-gradient(to right, #ffe47a97, #3d7eaa97),
    url("../images/4.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.container-hero h1 {
  text-align: center;
  margin-top: 0;
  font-size: 50px;
}
.container-items {
  display: flex;
  gap: 10px;
}
.container-items a {
  display: flex;
  gap: 5px;
}
.container-items p {
  display: inline;
  align-items: center;
  gap: 5px;
  margin: 0px;
}
.container-hero p {
  font-size: 20px;
}
.wave {
  width: 100%;
}
.section-one, .section-four, .section-five{
  color: #fedc38;
}
.section-two, .section-three{
  background-color: white;
  color: #013f88;
  margin-top: 0px;
  padding: 10px;
}
.section-two header{
  padding-top: 10px;
}
.section-two h2{
  margin-top: 0px;
}
.section-two ul{
  display: inline-block;
}
.section-five ol{
  display: inline-block;
}

.section-four img{
  width: 100%;
}