:root {
  --green-100: #5bcc85;
  --green-200: #4eb473;
  --green-300: #46a368;
  --dark-blue: 1, 3, 38;
  --dark-blue-100: #010344;

  --base-transition: all .4s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #222;
  line-height: 1.5;
  background-color: #FCFCFC;
}

h1, h2, h3, h4, h5, h6, button, a {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
	font-size: 2.75em;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.625em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.125em;
}

p {
	font-size: 1em;
	margin-bottom: 10px;
}

@media screen and (max-width: 767px){
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.875em;
	}

	h3 {
		font-size: 1.75em;
	}

	h4 {
		font-size: 1.5em;
	}

	h5 {
		font-size: 1.375em;
	}
}

main {
  padding-top: 20px;
  text-align: center;
  max-width: 90%;
  margin:0 auto;
}

section {
  padding: 30px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--green-200);
  transition: var(--base-transition);
}

a:hover {
  color: var(--green-300);
}

.text-green {
  color: var(--green-200);
}

nav {
  background-color: rgb(var(--dark-blue), 5%);
  padding: 15px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav .logo {
  font-size: 24px;
  font-weight: 700;
  margin-right: auto;
  color: var(--green-200);
  transition: var(--base-transition);
}

nav .logo:hover {
  color: var(--green-300);
}

nav .menu .menu-link {
  font-size: 18px;
  color: var(--dark-blue-100);
  border-radius: 5px;
  background-color: transparent;
  transition: var(--base-transition);
  padding: 6px 12px;
}

nav .menu .menu-link:hover {
  color: #FFF;
  background-color: var(--dark-blue-100);
}

nav .menu .menu-link:not(:last-child) {
  margin-right: 10px;
}

nav.sticky-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 0;
  background-color: rgb(var(--dark-blue), 10%);
  z-index: 1;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px rgb(var(--dark-blue), 10%);
  padding-left: 6rem;
  padding-right: 6rem;
  transition: var(--base-transition);
}

.fadeInDown {
  animation: fadeInDown .5s forwards ease-in-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    top: -100%;
  }

  100% {
    opacity: 1;
    top: 0%;
  }
}

.page-title {
  margin-top: 30px;
}

.page-title::after {
  content: "";
  width: 40%;
  height: 4px;
  background-color: var(--green-100);
  display: block;
  margin: -5px auto 20px;
  border-radius: 5px;
}

section h2 {
  margin-bottom: 30px;
}

.text-information {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.cursos {
  display: flex;
  justify-content: center;
}

.cursos div {
  color: #222;
  max-width: 300px;
  display: inline-block;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, .10);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: var(--base-transition);
  cursor: pointer;
}

.cursos div:hover {
  transform: scale(1.1);
  position: relative;
  z-index: 1;
  background-color: rgb(var(--dark-blue), 1%);
}

.cursos div figure {
  width: 50%;
}

.cursos div:not(:last-child) {
  margin-right: 20px;
}

.roadmap {
  width: 40%;
  margin: 30px auto;
  position: relative;
  list-style: none;
}

.roadmap::before {
  content: " ";
  display: block;
  width: 4px;
  height: 90%;
  background-color: var(--green-200);
  position: absolute;
  left: -2px;
  z-index: -1;
  border-radius: 5px;
}

.roadmap li {
  padding-left: 30px;
  text-align: left;
}

.roadmap li::before {
  content: "🚀";
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-100);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
}

.roadmap li:not(:last-child) {
  margin-bottom: 20px;
}

.fotos {
  padding: 30px 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.fotos figure {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 20px rgb(var(--dark-blue), 10%);
}

.fotos figure img {
  height: 100%;
}

.metal-health {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  text-align: left;
  list-style: none;
  counter-reset: css-counter 0;
}

.metal-health li {
  background-color: rosybrown;
  font-size: 15px;
  padding: 20px;
  border-radius: 5px;
  counter-increment: css-counter 1;
  display: flex;
  align-items: center;
  color: #FFF;
}

.metal-health li:nth-child(1) {
  background-color: var(--green-200);
}

.metal-health li:nth-child(2) {
  background-color: #0F52BA;
}

.metal-health li:nth-child(3) {
  background-color: #F9AE28;
}

.metal-health li:nth-child(4) {
  background-color: #BDBDBD;
}

.metal-health li::before {
  content: counter(css-counter);
  font-size: 22px;
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #FFF;
  background-color: royalblue;
  margin-right: 10px;
}

@media only screen and (max-width: 500px) {
  .metal-health, .fotos {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .cursos {
    flex-wrap: wrap;
  }
  .cursos div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .text-information {
    width: 90%;
  }

}