:root {
  --text-color: #181C1E;
  --secondary-text-color: #48575F;
  --background-color: #FFF8EB;
  --primary-color: #1BBD9C;
  --primary-color-dark: #12816A;

  --link-color: var(--primary-color-dark);


  --max-width: 1140px;
}