.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.banner__title {
  font-size: clamp(1.625rem, 10vw, 2.25rem);
  position: relative;
  text-align: center;
}

.title__bar,
.title__bar {
  position: relative;
}

.banner__content {
  font-size: 1.125rem;
  color: var(--body-secondary-text);
}

.title__bar:first-child::before,
.title__bar:last-child::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 1rem;
  border-radius: 0.375rem;
}

.title__bar:first-child::before {
  bottom: 0;
  left: -0.5em;
  background-color: var(--sand-200);
  z-index: -1;
}

.title__bar:last-child::after {
  bottom: 0;
  right: -0.5em;
  background-color: var(--sea-200);
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .banner {
    grid-column: 2/3;
    height: 80vh;
    justify-content: center;
  }
}