.importance {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.importance__title {

}

.importance__content {
  font-size: 1.125rem;
  color: var(--body-secondary-text);
}