$hue: 209;
$saturation: 77%;
$lightness: 8%;
$font-color: #fff;

.vacations {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl($hue, $saturation, $lightness - 4%);
  
    &__title {
      color: darken($font-color, 10%);
      text-align: center;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 20px;
      font-size: 1.1rem;
      color: darken($font-color, 20%);
      
      &:not(.main){
        flex-direction: column;
      }

      &-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        
        @media(max-width: 900px){
          grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: 650px){
          grid-template-columns: repeat(1, 1fr);
        }

        & > img {
          width: 300px;
          border-radius: 8px;
          cursor: pointer;
          transition: all 500ms ease;

          @media(max-width: 500px){
            width: 250px;
          }

          &:hover {
            transform: translateY(-10px) scale3d(1.1, 1.1, 1.1);
          }
        }
      }
    }

    &__courses {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      gap: 20px;
      color: darken($font-color, 30%);
  
      &-title {
        font-size: 1.05rem;
      }
  
      ul > li {
        margin: 10px;
        padding: 15px;
        list-style: none;
        color: darken($font-color, 20%);
        border: 2px solid #00C6A7;
        border-radius: 8px;
        transition: all 500ms ease;
  
        & > a {
          color: inherit;
          font-size: 1.1rem;
          text-decoration: none;
  
          & > span {
            text-decoration: underline;
          }
        }
  
        &:hover {
            color: #000;
            box-shadow: inset 450px 0 0 0 #00C6A7;
        }
      }
    }
}