// Colors
$Dark: #424242;
$White: #ffffff;
$Green: #18ac8e;
$LightGreen: #00cba1;

// Shasow
$Shadow1: 0 0 40px #1bbc9b80;
$Shadow2: 0 0 25px #ffffff80;
$Shadow3: 0 0 50px #00000040;

// Gradient
$Gradiant1: linear-gradient(104.04deg, #1bbc9b 0%, #12816a 100%);

// Fonts
$MainSource: 'Balsamiq Sans', cursive;
