@import './variables';
@import './const';

@import './Page-Gallery/Gallery';
@import './Section-Home/home';
@import './Section-Vacations/vacations';
@import './Section-Learning/learningPath';
@import './Section-Collaborate/collaborate';
@import './Section-Gallery/gallery.scss';
@import './Section-IV/importantV';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $MainSource;

	@media (min-width: 62.5rem) {
		&::-webkit-scrollbar {
			width: 10px;
			background-color: $White;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $LightGreen;
		}
	}

	&::selection {
		background: $LightGreen;
	}
}

[id] {
	scroll-margin-top: 3.125rem;
}

html {
	scroll-behavior: smooth;
}

body {
	color: $Dark;
	background-color: $White;
	min-height: 3000px;

	main {
		overflow: hidden;
	}
}

.mainContent {
	max-width: 59.375rem;
	margin: auto;
	padding: 1.25rem;
}

.contentSection {
	margin: 6.25rem 0;
}

.hidden {
	overflow: hidden;
}

.fullWidth {
	position: relative;
	left: 50%;
	margin-left: -50vw;
	width: 100vw;
}

.svg {
	margin-bottom: -6px;
}
