.benefits {
  display: flex;
  padding: 0 15% 30px;
  flex-direction: column;
  &__title {
    @include titles();
    font-size: 1.5rem;
  }
  &__paragraph {
    line-height: 1.5rem;
    padding-bottom: 15px;
  }
  &__subtitle {
    @include titles();
    font-size: 1.2rem;
  }
  &__reasons {
    border-right: 4px solid $colorPurple;
    @include tablet() {
      border-right: 0;
      border-top: 4px solid $colorPurple;
      display: flex;
      justify-content: space-around;
    }
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5%;
      padding: 5%;
      border: 1px solid $colorPurple;
      border-radius: 10px;
      @include tablet() {
        margin: 3%;
        padding: 3%;
        min-width: 20%;
      }
      &__icon {
        padding-bottom: 10px;
        color: $colorPink;
      }
      &__text {
        text-align: center;
      }
    }
  }
}
