.studies {
  &__title {
    @include titles();
    font-size: 1.5rem;
  }
  &__paragraph {
    line-height: 1.5rem;
    padding: 0 15%;
  }
  &__cursos {
    @include titles();
    font-size: 1.2rem;
    &--buttonWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet() {
        flex-direction: row;
      }
    }
    &--buttonWrap {
      display: flex;
      justify-content: center;
    }
    &--button {
      margin-bottom: 10px;
      text-transform: uppercase;
      border-radius: 15px;
      line-height: 30px;
      background: $colorPink;
      box-shadow: 2px 2px 5px $colorPurple;
      @include tablet() {
        margin: 0 10px;
      }
      &:hover {
        transform: scale(1.05);
        background: $colorYellow;
        box-shadow: 2px 2px 5px $colorPink;
      }
      &-link {
        color: $colorNoWhite;
        padding: 11px;
        &:hover {
          color: $colorNoBlack;
        }
      }
    }
  }
}
