.path {
  padding: 0 15% 30px;
  &__title {
    font-size: 1.2rem;
    @include titles();
  }
  &__paragraph {
    padding-bottom: 15px;
    text-align: center;
    @include tablet() {
      padding-bottom: 30px;
    }
  }
  &__timeline {
    border-left: 4px solid $colorPurple;

    @include tablet() {
      border-left: 0;
      border-top: 4px solid $colorPurple;
      display: flex;
      justify-content: space-around;
    }

    &--container {
      margin: 5%;
      padding: 5%;
      border: 1px solid $colorPurple;
      border-radius: 10px;
      text-align: center;
      @include tablet() {
        margin: 3%;
        padding: 3%;
      }
    }
  }
}
