.goTopHidden {
  display: none;
}

.goTop {
  display: block;

  &__text {
    position: fixed;
    bottom: 5%;
    left: 90%;
    cursor: pointer;
    background: rgba(252, 248, 241, 0.8);
    box-shadow: 2px 2px 5px $colorYellow;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;

    @include tablet() {
      left: 94%;
    }
    @include desktop() {
      left: 95%;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
