// Colores

$nav-bg: #242526;
$dark-bg: #18191a;
$green: #5bcc85;

// Fuentes

$pequeña: .8rem;
$normal: 1.4rem;
$grande: 2.5rem;

// Bordes

$borde: 7px;

// Margins

$large-margin: 1.3rem;
$big-margin: 5rem;