@mixin background() {
    width: 100%;
    background-color: $background-nav-footer;
}

@mixin center_horizontal_content() {
    display: flex;
    justify-content: center;
}

@mixin center_vertical_content() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin margin_y_section($active: true, $t: 16px, $b: 16px) {
    @if $active {
        margin-top: $t;
        margin-bottom: $b;
    } @else {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@mixin font_comfortaa() {
    font-family: 'Comfortaa', cursive;
}

@mixin font_quicksand() {
    font-family: 'Quicksand', sans-serif;
}

@mixin lists() {
    ol, ul {
        margin-top: 16px;
        display: flex;
        list-style-type: none;
        li {
            @include center_vertical_content();
            margin: 0 16px;
            i {
                color: $icons-vacations;
                margin-bottom: 8px;
                font-size: 70px;
            }
        }
    }
}
