@import 'fonts';
@import 'vars';
@import 'mixins';

* {
    margin: 0;
}

body {
    margin: 0;
}

section#navbar {
    @include margin_y_section(true, 0, 0);
    nav {
        padding: 16px 0;
        @include background();
        @include center_horizontal_content();
        a {
            margin: 0 16px;
            img {
                width: 50px;
            }
        }
    }
}

main {
    max-width: 960px;
    margin: 24px auto;
    section {
        @include margin_y_section();
        header {
            @include font_comfortaa();
            @include center_vertical_content();
            p {
                @include font_quicksand();
            }
        }
    }

    section#vacations {
        header {
            @include lists();
        }
    }

    section#gallery {
        p {
            a {
                img {
                    width: 40px;
                }
            }
        }
    }

    section#route {
        header {
            @include lists();
        }
    }

    div.fotos {
        display: grid;
        &[data-document="index"] {
            height: 240px;
            grid-template: 200px / repeat(3, 300px);
        }
        &[data-document="gallery"] {
            height: 440px;
            grid-template: repeat(2, 200px) / repeat(3, 300px);
        }
        gap: 24px;
        img {
            width: 250px;
            height: 180px;
            justify-self: center;
            align-self: center;

            &:hover {
                cursor: pointer;
                transition-delay: ease;
                transform: scale(1.5);
            }
        }
    }
}

footer {
    @include background();
    @include center_horizontal_content();
    padding: 16px 0;
}

#modal {
    z-index: 1000;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;

    div {
        width: 100%;
        display: flex;
        position: absolute;
        justify-content: flex-end;
        top: 16px;
        
        i {
            font-size: 30px;
            color: white;
            padding-right: 16px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}