nav {
  background-color: aliceblue;
  padding: 15px;
  display: flex;
  gap: 1em;
}

main {
  text-align: center;
  margin: 0 auto;
}

header {
  font-family: 'Roboto', sans-serif;
}

section {
  font-family: 'Roboto', sans-serif;
  margin-top: 3em;
}

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 0
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2)
}

.switch.active {
  background: orange;
  color: #000
}

.switch.active::after {
  right: 0;
  left: unset
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: 0 0;
  color: #fff
}

.text-primary {
  color: #7cb5d5 !important;
}

.text-warning {
  color: #f6bf5e !important;
}

.bg-success {
  background: #019d80 !important;
}

.btn-warning {
  background-color: #f1c374 !important;
  border: 0 !important;
}

.btn-warning:hover,
.btn-warning:focus-visible {
  background-color: #d39e5f !important;
}

.fotos img {
  display: inline-block;
}

.ruta-aprendizaje li, ol li {
  text-align: left;
}

/* Settings for icons 💡 */
.iconGithub {
  color: white;
}

.iconGithub:hover {
  color: #b9b9b9;
}

.iconTwitter {
  color: #7cb5d5;
}

.iconTwitter:hover {
  color: #1589cc;
}