extends ../template

block content
  main
    header
      nav
        a(href='/') Inicio
        a(href='fotos.html') Fotos
      h2 Galer&iacute;a completa de mis vacaciones
    .fotos
      img(src='images/1.jpg' alt='Cody en la playa')
      img(src='images/2.jpg' alt='Cody acampando')
      img(src='images/3.jpg' alt='Cody en una alberca')
      img(src='images/4.jpg' alt='Cody en una alberca')
      img(src='images/5.jpg' alt='Cody en una alberca')
      img(src='images/6.jpg' alt='Cody en una alberca')
