extends ../template

block content
  main
    header
      nav
        a(href='/') Inicio
        a(href='fotos.html') Fotos
      h1 Estas son mis Vacaciones
      p
        | Soy Cody, un aspirante a Dev, en 2019, organic&eacute; un viaje para desestresarme del c&oacute;digo, y en esta p&aacute;gina quiero
        | compartirlo contigo.
    section
      header
        h2 Mis vacaciones Frontend
      p
        | Durante el verano de 2019, decid&iacute; comenzar a aprender desarrollo frontend, por lo que durante mi viaje, estuve
        | aprendiendo HTML, CSS, y JavaScript
      p
        | Cada tarde, despu&eacute;s de conocer nuevos lugares en mis vacaciones, practicaba mis habilidades en tecnolog&iacute;as
        | frontend, construyendo esta p&aacute;gina
      p  Estos son los cursos que estuve tomando
      .cursos
        div
          p Curso profesional de Desarrollo Web
        div
          p Curso para crear mi primera p&aacute;gina web
    section
      header
        h2 Ruta de aprendizaje 2021
        p  Tambi&eacute;n me propuse aprender nuevas tecnolog&iacute;as durante 2021
      ul
        li Flexbox, y Grid
        li Animaciones con CSS y JavaScript
        li AJAX
        li HTML sem&aacute;ntico
        li Entre otros
    section
      header
        h2 Colabora en mi p&aacute;gina
      p
        | Como parte de mi formaci&oacute;n Frontend, aprend&iacute; acerca de Git y GitHub, por lo que decid&iacute; subir mi c&oacute;digo a GitHub
      p
        | Puedes ayudarme a mejorar mi p&aacute;gina, haciendo un fork de mi p&aacute;gina, y enviando un pull request.
      p
        | Si nunca antes has colaborado con un repositorio, en C&oacute;digo Facilito hay un tutorial que lo explica
        a(href='' target='_blank') Ir al tutorial
    section
      header
        h2 Aqu&iacute; te comparto algunas fotos de mis vacaciones
        p
          | &iexcl;Bien! S&eacute; que est&aacute;s aqu&iacute; por mis vacaciones, aqu&iacute; te comparto algunas fotos que tom&eacute;:
      .fotos
        img(src='images/1.jpg' alt='Cody en la playa')
        img(src='images/2.jpg' alt='Cody acampando')
        img(src='images/3.jpg' alt='Cody en una alberca')
        p
          | Puedes ver m&aacute;s, en la galer&iacute;a de fotos de mi p&aacute;gina
          a(href='fotos.html') Ir a la galer&iacute;a
    section
      header
        h2 La importancia de las vacaciones
        p
          | Aprender a programar y escribir c&oacute;digo, puede ser estresante, por eso es muy importante que peri&oacute;dicamente
          | nos desconectemos y descansemos apropiadamente
        p Durante mis vacaciones aprend&iacute; que existen distintos beneficios de descansar:
        ol
          li Mejora la salud mental
          li Incrementa la motivaci&oacute;n
          li Reduce el burnout
          li Mejora tu productividad y creatividad
