extends ./utils/layout
include ./utils/mixins

block content
  +navbar('Fotos', '/vacaciones-cody/fotos.html')
  header.top-space
    h1 Estas son mis Vacacioness
    p Soy Cody, un aspirante a Dev, en 2019, organicé un viaje para desestresarme del código, y en esta página quiero compartirlo contigo.
  section
    header
      h2 Mis vacaciones Frontend
    p Durante el verano de 2019, decidí comenzar a aprender desarrollo frontend, por lo que durante mi viaje, estuve aprendiendo HTML, CSS, y JavaScript
    p Cada tarde, después de conocer nuevos lugares en mis vacaciones, practicaba mis habilidades en tecnologías frontend, construyendo esta página
    p Estos son los cursos que estuve tomando
    .cursos
      div
        p Curso profesional de Desarrollo Web
      div
        p Curso para crear mi primera página web
  section
    header
      h2 Ruta de aprendizaje 2021
      p También me propuse aprender nuevas tecnologías durante 2021
    ul
      li Flexbox, y Grid
      li Animaciones con CSS y JavaScript
      li AJAX
      li HTML semántico
      li Entre otros
  section
    header
      h2 Colabora en mi página
    p Como parte de mi formación Frontend, aprendí acerca de Git y GitHub, por lo que decidí subir mi código a GitHub
    p Puedes ayudarme a mejorar mi página, haciendo un fork de mi página, y enviando un pull request.
    p Si nunca antes has colaborado con un repositorio, en Código Facilito hay un tutorial que lo explica
      a(href='' target='_blank') Ir al tutorial
  section
    header
      h2 Aquí te comparto algunas fotos de mis vacaciones
      p ¡Bien! Sé que estás aquí por mis vacaciones, aquí te comparto algunas fotos que tomé:
    .fotos
      img(src='images/1.jpg' alt='Cody en la playa')
      img(src='images/2.jpg' alt='Cody acampando')
      img(src='images/3.jpg' alt='Cody en una alberca')
      p Puedes ver más, en la galería de fotos de mi página
        a(href='/fotos') Ir a la galería
  section
    header
      h2 La importancia de las vacaciones
      p Aprender a programar y escribir código, puede ser estresante, por eso es muy importante que periódicamente nos desconectemos y descansemos apropiadamente
      p Durante mis vacaciones aprendí que existen distintos beneficios de descansar:
      ol
        li Mejora la salud mental
        li Incrementa la motivación
        li Reduce el burnout
        li Mejora tu productividad y creatividad
  footer.container-fluid
