*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: helvetica;
  color: var(--secondary-gray);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-gray);
}
h1 + * {
  margin-block-start: var(--spacing-s);
}
h2 + * {
  margin-block-start: var(--spacing-s);
}
h1,
h2,
h3 {
  font-family: "Londrina Solid", helvetica;
  font-weight: 400;
  line-height: 1;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  max-width: 35ch;
  font-size: 2.5rem;
}
p {
  max-width: 65ch;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
  color: var(--secondary-gray);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
