.colabora{
    margin-block: 64px;
    color: var(--negro);
}
.colabora-desc{
    max-inline-size: 1000px;
    margin-inline: auto;
    text-align: center;
    border: 1px solid var(--gris);
    border-radius: 8px;
    padding: 24px;
}
.colabora-desc p{
    font-weight: 700;
    font-size: 18px;
    margin-block-end: 16px;
}
.colabora-desc .btn{
    margin-block-start: 32px;
}

@media screen and (min-width: 768px) {
    .colabora{
        margin-block: 120px;
    }
    .colabora-desc{
        padding: 40px;
    }
}