html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body { 
  margin: 0; 
  background-color: #ece2c6; 
}

main{
  text-align: center;
  max-width: 960px;
  margin:0 auto;
}

header{
  padding: 1rem;
}

p,a {
  font-family: dm sans,sans-serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1{
  font-family: IBM Plex Sans;
  font-weight: 700;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2{
  font-family: IBM Plex Sans;
  font-weight: 700;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

nav{
  margin-bottom: 2rem;
  display: flex;
  gap:1em;
}

/*  SECTION PLAYA */
.playa{
  background-color: #ece2c6; 
  padding-bottom: 2rem;
}

.playa .container{
  margin: auto; 
  max-width: 800px;
}

.playa h2{
  font-family: IBM Plex Sans;
  font-weight: 700;
  margin-block-start: 0em;
}

ul, li {
  text-align: center;
    list-style-type: disc;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 330px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    /*width: inherit; height: inherit;*/
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    transition: opacity .5s; 
}

ul.slider li img{
  background-size: contain;
  margin: 10px auto 10px;
  display: block;
  max-width: 450px;
  height: 330px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; 
}

ul.slider li:target {
    opacity: 1; 
}

.menu{
  text-align: center;
  margin: 0.5rem;
}

.menu li{
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}

.menu li a{
  color: white;
  text-decoration: none;
  background-color: #746848;
  width: 25px;
  height: 25px;
  font-size: 20px;
  border-radius: 100%;
}

.menu li a:hover{
  background-color: #3f3825;
}

.button4{
  background-color: #3f3825;
  display: inline-block;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button4:hover{
  background-color: #3f3825;
}

/*  RESPONSIVE SIZE */
@media screen and (max-width:900px ){
  .codyrelax{
    transform: scale(0.1, 0,1);
  }
  .puesta ul li{
    left: 11rem;
  }
  
  .sea ol li{
    left: 11rem;
  }
}

@media screen and (max-width:500px){

  .codyrelax{
    scale: 0.5;
  }

  .puesta li{
    width: 20rem;
  }

  .puesta ul li{
    left: 3rem;
  }

  .sea ol li{
    left: 3rem;
  }

}

@media screen and (max-width:300px){

  .puesta ul li{
    left: 5rem;
  }

  .sea ol{
    left: 1rem;
  }
  .sea li{
    text-align: center;
    width: 20rem;
    left: 0;
  }

}