.header{
    background-color: var(--verde);
    position: relative;
    padding-block-end: 32px;
}
.header-content{
    max-inline-size: 100%;
}
.header .shape{
    position: absolute;
    font-size: 0;
    inset-block-end: -2px;
    inset-inline-start: 0;
    inset-inline-end: 0;
}

@media screen and (min-width: 768px) {
    .header{
        padding-block-end: 64px;
    }
}
@media screen and (min-width: 960px) {
    .header{
        padding-block-end: 80px;
    }
}
@media screen and (min-width: 1200px) {
    .header{
        padding-block-end: 184px;
    }
}