/*  holidays */
.holidays {
  margin-bottom: 50px;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 80px;
  align-items: center;
  padding: var(--padding);
}
.holidays__image {
  text-align: center;
}
.holidays__image img {
  transform: rotate(8deg);
  transition: transform var(--transition);
  filter: drop-shadow(1px 1px 5px rgba(24, 24, 24, 0.3));
}
.holidays:hover img {
  transform: rotate(0);
}
.holidays__text p {
  font-weight: 300;
  color: var(--black-light);
}
.cursos {
  margin-top: 15px;
}
.cursos__item {
  display: block;
  margin-left: 25px;
  margin-top: 25px;
  height: 10px;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 300;
  color: var(--black-light);
  transition: color var(--transition);
}
.cursos__item::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -25px;
  top: 0;
  background-color: var(--red);
}
.cursos__item:hover {
  color: var(--black);
}
@media screen and (max-width: 780px) {
  .holidays {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .holidays__image img {
    transform: rotate(0);
  }
  .cursos__item {
    height: 40px;
  }
  .cursos__item::after {
    top: 15px;
  }
  
}

/* route */
.route {
  padding: var(--padding);
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
.route p {
  font-weight: 300;
  color: var(--black-light);
}
.route ul {
  text-align: left;
  gap: 50px;
  display: inline-block;
  margin: 50px auto;
  position: relative;
  z-index: 3;
}
.route li {
  position: relative;
  padding-left: 80px;
  margin-bottom: 50px;
  font-weight: 300;
  height: 40px;
  display: flex;
  align-items: center;
  color: var(--black-light);
  font-size: 18px;
}
.route li::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--red);
  top: 0;
  left: 0;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  box-shadow: var(--box-shadow);
}
.route li:nth-child(1)::after {
  content: '1';
}
.route li:nth-child(2)::after {
  content: '2';
}
.route li:nth-child(3)::after {
  content: '3';
}
.route li:nth-child(4)::after {
  content: '4';
}
.route li:nth-child(5)::after {
  content: '5';
}
.wave_top {
  position: absolute;
  bottom: -70px;
  right: 0;
}

.cody_summer {
  position: absolute;
  bottom: -10px;
  left: 80px;
  width: 270px;
  animation: move 5s  ease-in-out infinite;
}
@keyframes move {
  0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@media screen and (max-width: 780px) {
  .cody_summer {
    display: none;
  }
  .route ul {
    margin-bottom: 0;
  }
  .wave_top {
    position: absolute;
    bottom: -55px;
    right: 0;
  }
}
/* collaborate */
.collaborate {
  background-color: var(--blue);
  margin: 50px 0;
  padding: 100px 0;
  position: relative;
}
.collaborate__container {
  color: var(--white);
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr 250px;
  align-items: center;
  grid-column-gap: 50px;
}
.collaborate p {
  font-weight: 300;
  color: var(--gray);
  font-size: 20px;
}
.collaborate__btn {
  text-align: right;
}
.collaborate header {
  grid-column: 1 / 3;
}
@media screen and (max-width: 780px) {
  .collaborate__container {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .collaborate header {
    grid-column: 1 / 2;
  }
}

/* gallery */
.gallery {
  padding: var(--padding);
  text-align: center;
  position: relative;
}
.gallery p {
  color: var(--black-light);
}
.gallery .fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px 0; 
}
.gallery .fotos div {
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.gallery img {
  height: 100%;
  object-fit: cover;
  transition: transform var(--transition);
  cursor: zoom-in;
}
.gallery .fotos img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 940px) and (min-width: 580px) {
  .gallery .fotos {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery .fotos div:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .gallery .fotos div:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
  .gallery .fotos div:nth-child(3) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}
@media screen and (max-width: 580px) {
  .gallery .fotos {
    grid-template-columns: 1fr;
  }
}

/* importance */
.importance {
  padding: var(--padding);
}
.importance p {
  color: var(--black-light);
}
.importance li {
  position: relative;
  height: 10px;
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-top: 25px;
  color: var(--black-light);
}
.importance li::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -25px;
  top: 0;
  background-color: var(--red);
}