.learning {
  background: transparent;
  padding-block: 5em;
}

.learning h2 {
  margin-block: 0;
}

.learning-content {
  text-align: center;
}

.learning-content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.learning-content ul li {
  border: 2px solid var(--white);
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-block: 5em;
  border-radius: 0.5rem;
  position: relative;
  animation-name: bounceIn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}