.navbar{
    transition: .3s all;
}
.navbar .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 16px;
    overflow: hidden;
}
.logo{
    font-weight: 900;
    font-size: 24px;
    color: var(--blanco);
}
.navbar .wrapper a.logo{
    color: var(--blanco);
}
.navbar .wrapper .navbar-menu a{
    color: var(--negro);
    text-transform: uppercase;
}
.navbar-menu{
    position: fixed;
    inset-block: 0;
    inset-inline: 0;
    background-color: rgba(255, 255, 255, .93);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: .4s transform;
}
.navbar-menu ul{
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    gap: 40px;
}
.navbar-menu ul li a{
    color: var(--negro);
    font-weight: 400;
    font-size: 24px;
}

.navbar ul a:hover{
    color: var(--negro);
    font-weight: bold;
}

.navbar ul a.active{
    color: var(--negro);
    font-weight: bold;
}

.navbar .menu-icon{
    font-size: 32px;
    color: var(--blanco);
}
.menu-cerrar{
    font-size: 32px;
    color: var(--negro);
    position: absolute;
    inset-inline-end: 24px;
    inset-block-start: 16px;
}

.navbar-menu.menu-visible{
    transform: translateX(0);
}


/* Menu sticky */
.navbar-sticky{
    position: fixed;
    inset-inline: 0;
    inset-block-start: 0;
    background: #FFFFFE;
    padding-block: 16px;
    z-index: 3;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);    
}
.navbar-sticky .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: (--negro);
    padding-block-start: 0;
}
.navbar-sticky .wrapper a.logo{
    color: var(--negro);
}
.navbar-sticky .wrapper a{
    color: var(--negro);
}
.navbar-sticky .wrapper ul a{
    color: var(--negro);
}
.navbar-sticky .wrapper ul a.active{
    color: var(--negro);
}
.navbar-sticky .menu-icon{
    color: var(--negro);
}


@media screen and (min-width: 600px) {
    .navbar{
        padding-block-start: 32px;
    }
    .navbar-menu ul a{
        font-size: 32px;
    }
    .menu-cerrar{
        inset-inline-end: 32px;
        inset-block-start: 32px;
        font-size: 40px;
    }
    .navbar-sticky{
        padding-block-start: 16px;
    }
}

@media screen and (min-width: 769px) {
    .navbar{
        padding-block: 32px;
    }
    .navbar-menu{
        display: block;
        position: static;
        background: none;
        transform: translateX(0);
    }
    .navbar-menu ul{
        flex-direction: row;
        gap: 32px;
    }
    .navbar .menu-icon{
        display: none;
    }
    .navbar .menu-cerrar{
        display: none;
    }
    .navbar-menu ul a{
        font-size: 18px;
    }
    .navbar .wrapper .navbar-menu a{
        color: var(--blanco);
    }
    .navbar ul a.active{
        color: var(--blanco);
    }
    /* Menu sticky */
    .navbar-sticky{
        padding-block: 16px;
    }
    .navbar-sticky .wrapper ul a{
        color: var(--negro);
    }
    .navbar-sticky .wrapper .navbar-menu a{
        color: var(--negro);
    }
    .navbar-sticky .wrapper ul a.active{
        color: var(--negro);
    }

}