@import url('./cssFormat.css');
@import url('./features.css');

main {
  padding-bottom: 25px;
}

.items .item:last-child {
  text-decoration: underline;
}

.header h2 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  text-shadow: 1px 1px 5px black;
  line-height: 1.6em;
}

.header {
  height: auto;
  padding-bottom: 30px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.photos img {
  width: 100%;
}