* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}
nav {
  background-color: #02463a;
}

nav .logo {
  font-size: 40px;
  text-decoration: none;
  color: white;
}
nav ul#nav-mobile li a {
  text-decoration: none;
  color: white;
  position: relative;
}
nav ul a:hover {
  background: none;
}
nav ul#nav-mobile li a::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all ease-in-out 0.1s;
}
nav ul#nav-mobile li:hover a::before {
  width: 100%;
}

.nav-fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.grid-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.4s;
  z-index: 1000;
}

.scroll-down .grid-navbar {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .grid-navbar {
  transform: none;
  background-color: #02463a;
  width: 100%;
}

.header {
  min-height: 400px;
  background-color: rgb(248, 242, 233);
  padding: 50px 0;
  position: relative;
}

.header h1 {
  font-weight: 900;
  color: #02463a;
  margin-bottom: 15px;
  font-size: 60px;
}
.header h1 span {
  background-image: linear-gradient(
    100deg,
    #d5ffaa 0,
    #c0ffb0 10%,
    #aaffb4 20%,
    #94f6b6 30%,
    #7fe8b7 40%,
    #6cd8b4 50%,
    #5cc8b0 60%,
    #50b9ac 70%,
    #48aea8 80%,
    #43a4a5 90%,
    #419ca4 100%
  );
  color: white;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  border-radius: 5px;
}
.header p {
  font-size: 20px;
}

.header.galeria {
  min-height: 200px;
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.header.galeria h1 {
  font-size: 30px;
  margin-bottom: 0;
}

section h2 {
  font-size: 30px;
  color: #02463a;
  font-weight: 900;
  margin-bottom: 25px;
}

section p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 15px;
}

section#intro {
  padding: 50px 0;
}

.cursos {
  margin-top: 50px;
}

.curso {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #02463a;
  border-radius: 20px;
  padding: 15px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px 2px;
  color: white;
  transition: all ease-in 0.1s;
}
.curso p {
  font-size: 15px;
  margin: 0 0 0 15px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 900;
}
.curso .icon {
  width: 80px;
  height: 80px;
  background-color: #076150;
  box-shadow: rgb(0 0 0 / 60%) -4px 5px 15px 1px;
  padding: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all ease-in 0.3s;
  transform: rotate(0);
}
.curso:hover .icon {
  background-color: #00bb9d;
  transform: rotate(360deg);
}
.curso:hover {
  box-shadow: rgb(0 0 0 / 40%) 0px 0px 10px 2px;
}

.timeline {
  position: relative;
  width: 500px;
  max-width: 95vw;
  height: 100%;
  font-family: Arial;
  margin: auto;
}

.otherCourse {
  position: relative;
  width: 45%;
  box-sizing: border-box;
  transition: all 2s;
  opacity: 0;
  transform: translateY(-40px);
}
.verCurso {
  opacity: 1;
  transform: translateY(0);
}

.otherCourse:nth-child(even) {
  left: 55%;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #02463a;
  left: 50%;
  height: 100%;
  border-radius: 10px;
}

.otherCourse::after {
  content: "";
  position: absolute;
  top: calc(50% + 10px);
  right: calc(-11.11% - 11.5px);
  height: 20px;
  width: 20px;
  background-color: #00bb9d;
  border-radius: 50%;
}

.otherCourse:nth-child(even)::after {
  left: calc(-11.11% - 8.5px);
}

.otherCourse h3 {
  margin: 10px 0px;
  font-size: 20px;
  text-align: center;
}

.otherCourse .titleCourse {
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
}

.otherCourse .titleCourse::after {
  content: "";
  position: absolute;
  right: -10px;
  top: calc(50% + 10px);
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid #eee;
}

.otherCourse:nth-child(even) .titleCourse {
  background-color: #00bb9d;
  color: white;
}

.otherCourse:nth-child(even) .titleCourse::after {
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid #00bb9d;
  border-left: none;
}

#contributors {
  width: 100%;
  padding: 100px 0;
  background-color: #02463a;
  margin: 50px 0 0 0;
  color: white;
  background-image: url("../images/bg-contributors.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#contributors h2 {
  color: white;
}
#contributors a {
  color: white;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
#introGalery {
  margin: 0 0 100px;
}
#features {
  background-color: #00bb9d;
  min-height: 300px;
  color: white;
  padding: 100px 0;
}
#features h2 {
  color: white;
}
#features header p {
  font-size: 20px;
}
#features h3 {
  font-size: 20px;
  font-weight: 900;
}
#features h5 {
  padding: 20px;
  background-color: white;
  width: 100px;
  height: 100px;
  color: #02463a;
  margin: 0 auto 20px auto;
  font-size: 50px;
  border-radius: 50%;
  font-weight: 700;
  transition: transform 0.2s;
}
#features span {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
#features h5:hover {
  transform: rotate(360deg);
}

footer {
  background-color: #00bb9d;
  padding: 25px 0;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: white;
  text-decoration: underline;
}

.title-h2 {
  margin: 25px 0;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.zi-10 {
  z-index: 10;
  position: relative;
}
.swiper-slide-zoomed {
  position: absolute;
  z-index: 100000;
}

/*******************************************/
#galeria .swiper-container {
  width: 100%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

#galeria .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#galeria .swiper-slide img {
  height: 100%;
}

@media screen and (max-width: 1336px) {
  #intro img {
    width: 400px;
  }
}
@media screen and (max-width: 1100px) {
  #intro img {
    width: 300px;
  }
}
@media screen and (max-width: 601px) {
  #intro img {
    width: 100%;
  }
  #intro div div div:nth-child(2) {
    padding-top: 0;
  }
}
