@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
}
:root{
  --corners: 10px;
}

body{
  background-image: url("../images/bg.jpg");
  background-position: center; /* Center the image */
  /* filter: blur(8px);
  -webkit-filter: blur(8px) */
  background-attachment: fixed;
  font-family: "Montserrat";
}

.hero{
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero--child{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2{
  font-family: "Poppins";
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
}

h1{
  color: whitesmoke;
  font-size: 6em;
  line-height: 0.8em;
  text-transform: uppercase;
}

h2, p{
  margin-bottom: 30px;
}
.button{
  background-color: rgb(23, 90, 83);
  color: whitesmoke;
  padding: 20px;
  min-width: 300px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-kerning: 4;
  border-style: none;
  align-self: center;
  border-radius: var(--corners);
  text-decoration: none;
}
.button:hover{
  background-color: rgb(20, 63, 59);
}
.subheader{
  font-family: "Poppins";
  color: rgb(16, 40, 54);
  margin-top: 20px;
  /* background-color: rgba(68, 119, 108, 0.623); */
  max-width: 500px;
  /* text-transform: uppercase; */
}

nav{
  /* background-color: rgb(207, 245, 235); */
  
  border-radius: var(--corners);
  padding: 15px;
  display: flex;
  gap:1em;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
nav a{
  color: aquamarine;
  text-decoration: none;
}

main{
  text-align: center;
  max-width: 960px;
  margin:0 auto;
  
}



section{
  background-color: rgba(189, 231, 229, 0.904);
  border-radius: var(--corners);
  background: rgba(255, 255, 255, 0.596);
  box-shadow: 0 8px 32px 0 rgba(5, 48, 44, 0.452);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 80px 40px 70px;
  margin: 0px 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.parent-structure{
  display: flex;
  justify-content: center;
}
.child-structure{
  align-self: center;
  max-width: 400px;
}

.cursos div{
  background-color: rgb(255, 255, 255);
  color: rgb(49, 49, 49);
  max-width: 200px;
  display: inline-block;
  
  border-radius: var(--corners);
  padding: 30px 30px 0px;
}

.cursos div:first-child{
  margin-right: 10px;
}
.fotos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.fotos img{
  max-width: 250px;
  display: flex;
  margin: 10px;
  border-style: solid;
  border-color: white;
  border-width: 6px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.445);

}
ul li{
  text-align: left;
}
ul li::marker {
  content: "🚀";
}

ol{
 margin-left: 60px;
}

ol li{
  text-align: left;
}

footer{
  padding: 30px;
}

.gallery {
  font-size: 3.5em;
  color: rgb(242, 255, 251);
}

h3{
  margin-top: -50px;
  font-size: 2em;
  padding-bottom: 50px;
}