/* Reseteo css */
*{
  margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
/* coloco colores para identificar elementos 
 */
 
 body{
  /* background-color: chartreuse; */
  font-family: 'Open Sans',sans-serif;
  color: #184e77;


}
header{
  position: static;
  height: 10vh;
  background-color: coral;
}

header .fixed{
  position: fixed;
  background-color: #d9ed92;
  height: 10vh;
  width: 100%;
  padding: 3px 50px ;
}
header h1{
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header nav{
  display: inline-block;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30000;
}
header nav ul li{
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  transition: all 1s;
  
}
header nav ul li:hover{
  font-size: 25px;

  transition: all 1s;
}
main{
  background-color: blueviolet;
  width: 100%;
}
footer{
  background-color: brown;
}
section{
  display: block;
  /* background-color: cadetblue; */
  margin-top: 0;
  height: 90vh;
  padding-left:50px ;
}


.animacion{
 display: block;
 z-index: 100;
  
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.1s; /* don't forget to set a duration! */
}

.nover{
  visibility: collapse;
}

.active{
  font-size: 25px;

  transition: all 0.1;
}
section:nth-child(1){
  visibility: visible;
}