* {
  padding: 0%;
  margin: 0%;
}

:root {
  --fondo-menu-navegacion: #39ac91;
  --color-fuente-primario: #ffffff;
  --color-hover-enlace: #000000;
  --fondo-seccion-01: #26a659;
}

/* HEADER */
main header .navegacion {
  background-color: var(--fondo-menu-navegacion);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

main header .navegacion a {
  text-decoration: none;
  color: var(--color-fuente-primario);
}

main header .navegacion a:hover {
  color: var(--color-hover-enlace);
  text-decoration: underline;
}

main header .info {
  background-color: var(--fondo-menu-navegacion); 
  color: var(--color-fuente-primario);
  padding: 1rem 1rem 3rem 1rem;
}

main header .info h1,
main header .info p {
  text-align: center;
}

main header .info p {
  margin-top: 1rem;
}

/* END OF HEADER */

.section-01 {
  background-color: var(--fondo-seccion-01);
  color: var(--color-fuente-primario);
  padding: 1rem;
}

/* main{
  text-align: center;
  max-width: 960px;
  margin:0 auto;
}

.cursos div{
  background-color: black;
  color: white;
  max-width: 200px;
  display: inline-block;
  box-shadow: 5px 5px 10px black;
}
.fotos img{
  max-width: 450px;
  display: inline-block;
}
ul li{
  text-align: left;
}
ul li::marker {
  content: "🚀";
}

ol li{
  text-align: left;
} */