.u-icon {
  width: 40px;
}

.u-h2 {
  color: var(--color-secondary);
}

.u-link {
  color: var(--color-accent);
  border-bottom: 1px dashed var(--color-accent);
}

.u-paragraph {
  color: var(--color-text);
}
