.Advantages{
    margin-block-start: 80px;    
}
.Advantages--title{
    margin-block-start: 0px;
    padding-inline-start: 20px;
    padding-inline-end:20px;
    font: var(--h2Mobile);
    color: var(--White);
}
.Advantages--text{
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: 20px;
    padding-inline-end:20px;
    color: var(--Slightlytransparent);
    max-width: 496px;
}

.Advantages--list{
    margin-block-start: 100px;
    padding: 0;
    list-style: none;
    color: var(--White);
}

.Advantages__list--item{
    margin-block-end: 50px;
    font: var(--BodyMobile);
    font-weight: 700;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Advantages--list{
        display: flex;
        justify-content: space-around;
        
    }
    .Advantages__list--item{
        font: var(--BodyMobile2);
    }
  }
  

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .Advantages{
     margin-block-start: 150px;
     margin-block-end: 150px;
    }
  }
  
