.Learn{
    margin-block-end: 80px;
}

.Learn--title{
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    font: var(--h2Mobile);
    color: var(--White);
}
.Learn--text{
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    font: var(--BodyMobile2);
    color: var(--Slightlytransparent);
}


.Learn--list{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    font: var(--BodyMobile);
    font-weight: 500;
    color: var(--Slightlytransparent);
    counter-reset: section;
}
.Learn__list--item{
    margin-block-start: 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Learn__list--item::before{
    content: counter(section);
    counter-increment: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-block-end: 10px;
    width: 25px;
    height: 25px;
    color: var(--highlight);
    border-radius: 50%;
    background-color: var(--White);
}
.more::before{
    content: "...";
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .Learn--list{
        flex-direction: row;
        justify-content: space-around;
        font:var(--BodyMobile2);
    }
  }
  
  
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .Learn__list--item::before{
        width: 40px;
        height: 40px; 
        color: var(--highlight);
        font: var(--BodyMobile);
        font-weight: 700;
    }
    .Learn{
        margin-block-start: 150px;
        margin-block-end: 150px;
    }
  }
  
  