.Photos--slider img{
    padding-inline-start: 3px;
    padding-inline-end: 5px;
    width: 100%;
}

.Photos--slider{
 position: relative;
 max-width: 1000px;
 width: 100%;
 border-radius: 6px;
 overflow: hidden;
}
.slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--White);
    width: 15px;
    height: 15px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    margin-inline-end: 20px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.pagination-item img:hover{
    opacity: 1;
    transform: scale(2);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: var(--White);
}
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1),0,0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: var(--White);
}
input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1.99),0,0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: var(--White);
}


@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0),0,0);
    }
    66%{
        transform: translate3d(calc(-100% * 1),0,0);
    }
    100%{
        transform: translate3d(calc(-100% * 2),0,0);
    }
}




  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .Photos--slider{
        max-width: 1004px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }
    .slide{
        margin-inline-start: auto;
        margin-inline-end: auto;
    }
    .Photos--slider img{
        width: 100%;
        margin-inline-end: 199px;
        justify-content: space-between;
    }
  }
  
 
  
