.Button--Container{  
}

.Button{
    border: 2px solid white;
    width: 90%;
    height: 45px;
    max-width: 496px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-radius: 25px;
    text-decoration: none;
    font: var(--BodyMobile);
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Button:hover{
    background-color: var(--highlight);
    transform: scale(1)
}