div.container-card
  div.cards-container
    div.card-own
      span.card__number 1
      div.card__img-container
        img(src="./images/002-mental-health.png", alt="mental health")
      p.card__description Mejora la salud mental
    div.card-own
      span.card__number 2
      div.card__img-container
        img(src="./images/003-business-idea.png", alt="mental health")
      p.card__description Incrementa la motivacion
    div.card-own
      span.card__number 3
      div.card__img-container
        img(src="./images/001-decrease.png", alt="mental health")
      p.card__description Reduce el burnout
    div.card-own
      span.card__number 4
      div.card__img-container
        img(src="./images/004-clock.png", alt="mental health")
      p.card__description Mejora tu productividad y creatividad