footer
  div.footer
    div.footer__info
      div.footer__info-socials
        span.linkedin
          a(href="https://www.linkedin.com/in/jarf4321/" target="_blank")
            img(src="./images/004-linkedin.png", alt="logo linkedin")
        span.twitter
          a(href="http://www.twitter.com/Jarf4321" target="_blank")
            img(src="./images/002-twitter.png", alt="logo twitter")
        span.facebook
          a(href="http://www.facebook.com/jarf4321" target="_blank")
            img(src="./images/003-facebook.png", alt="logo facebook")
        span.instagram
          a(href="http://www.instagram.com/jorberto.rofl/" target="_blank")
            img(src="./images/001-instagram.png", alt="logo instagram")
      p.footer__info-msg Created by
        span.name Jorge Rodriguez
        span  💙
    p.footer__copyright Copyright ©2021
      span.name Jorge Rodriguez
      | . All Rights Reserved