.section.full-height.over-hide.px-4.px-sm-0.img-v-main-c
  .container
    .row.full-height.justify-content-center
      .col-lg-10.col-xl-8.align-self-center.padding-tb
        .section.mx-auto.text-center.slider-height-padding
          input#slide-1.checkbox.frst(type='radio', name='slider', checked='')
          label(for='slide-1')
          input#slider-2.checkbox.scnd(type='radio', name='slider')
          label(for='slider-2')
          input#slider-3.checkbox.thrd(type='radio', name='slider')
          label(for='slider-3')
          input#slider-4.checkbox.frd(type='radio', name='slider')
          label(for='slider-4')
          input#slider-5.checkbox.fvi(type='radio', name='slider')
          label(for='slider-5')
          input#slider-6.checkbox.six(type='radio', name='slider')
          label(for='slider-6')
          ul.photos
            li.photo
              span.photo__caption Mi primera vez en bici 🤪
            li.photo
              span.photo__caption Fiji Island...(acapulco 😆)
            li.photo
              span.photo__caption Airbnb execelente servicio ⭐⭐⭐⭐⭐
            li.photo
              span.photo__caption Sunset tomandome un coquito
            li.photo
              span.photo__caption Se ve soleado pero hacia frio 🥶
            li.photo
              span.photo__caption full vacunado y listo para las vacaciones