.container-fluid.blue-bg
  .container
    //first section
    .row.align-items-center.how-it-works
        .col-2.text-center.top.init
          .circle 🌴
        .col-6
          h3.heading-3 Flexbox y Grid
          p Aprender las propiedades tanto del flex container y grid container, asi como las propiedades de los flex items y grid items. Tambien el uso que les podemos dar a este tipo de displays cuando usamos responsive design.

    //path between 1-2
    .row.timeline
        .col-2
          .corner.top-right
        .col-8
          hr
        .col-2
          .corner.left-bottom

    //second section
    .row.align-items-center.justify-content-end.how-it-works
        .col-6.text-right
          h3.heading-3 Animaciones con CSS y Javascript
          p Aprender las formas y usos que le podemos dar a las animaciones usando tanto css como javascript.
        .col-2.text-center.full
          .circle 🌴

    //path between 2-3
    .row.timeline
        .col-2
          .corner.right-bottom
        .col-8
          hr
        .col-2
          .corner.top-left

    //third section
    .row.align-items-center.how-it-works
        .col-2.text-center.top
          .circle 🌴
        .col-6
          h3.heading-3 AJAX
          p Aprender las diferentes formas de hacer API request.

    //path between 3-4
    .row.timeline
        .col-2
          .corner.top-right
        .col-8
            hr
        .col-2
          .corner.left-bottom

    //forth section
    .row.align-items-center.justify-content-end.how-it-works
        .col-6.text-right
          h3.heading-3 HTML semantico
          p Aprender a mequetar sitios web de una manera semantica para que asi sea mas intuitivo y facil entender.
        .col-2.text-center.full
          .circle 🌴

    //path between 4-5
    .row.timeline
        .col-2
          .corner.right-bottom
        .col-8
          hr
        .col-2
          .corner.top-left

    //fith section
    .row.align-items-center.how-it-works
        .col-2.text-center.top-end
          .circle 🌴
        .col-6
          h3.heading-3 Entre otros......
          p Pre-procesadores de CSS, Tailwind CSS, Bootstrap, Diseño de interfaces, React JS, Docker.....