main.main-container
    div.main
      div.main__images
        img.img-cody(src="./images/cody-left.png", alt="cody")
        img.img-surfTable#mainCodyImg(src="./images/surfTable.png", alt="sand")
      div.main__description
        p.main__description-p Durante el verano de 2019, decidí comenzar a aprender
          span  desarrollo frontend,
          |  por lo que durante mi viaje, estuve aprendiendo
          span  HTML
          | ,
          span  CSS
          | , y
          span  JavaScript.
        p.main__description-p Cada tarde, después de conocer nuevos lugares en mis vacaciones, practicaba mis habilidades en
          span  tecnologías frontend,
          |  construyendo esta página.
          br
          br
          | Estos son los cursos que estuve tomando:
        div.cursos
          div.cursos__wrapper
            div.cursos__element
              h3.cursos__element-title.heading-3 Curso Profesional de Desarrollo Web
              p.cursos__element-p Excelente curso para crear un panorama mas amplio de lo que es el proceso de crear un sitio web.
              p.cursos__element-ref -
                span  Cody
              a.cursos__element-link.btn.btn-main(href="https://codigofacilito.com/cursos/frontend-profesional" target="_blank") Ir al sitio
          div.cursos__wrapper
            div.cursos__element
              h3.cursos__element-title.heading-3 Curso para crear mi primera pagina web
              p.cursos__element-p Excelente curso introductorio para aquellos que desean crear una pagina web sin conocimientos previos.
              p.cursos__element-ref -
                span  Cody
              a.cursos__element-link.btn.btn-main(href="https://codigofacilito.com/cursos/primera-pagina-2019" target="_blank") Ir al sitio