// Fuentes
@import 'components/font-face'

// $assetPath: "/URL/PATH"
$deepBlue: #051626
$lightGray: #486076
$whiteSmoke: #f5f5f5
$lightRed: #f66d65
$lightGreen: #5BCC85
$DM: "DM Sans"
$IBM: "IBM Plex Sans"

* 
    outline: none

body
    background-color: $whiteSmoke
    font-family: $DM
    font-weight: 400
    font-size: 16px
    margin: 0

p 
    color: $lightGray

h1, h2, h3, h4, h5, h6 
    font-family: $IBM
    font-weight: 700 

.wrap
    text-align: center
    max-width: 1100px
    width: 100%
    margin: 0 auto

.image 
    width: 100%
    display: block

.row
    display: flex
    flex-wrap: wrap
    
.col 
    margin: 0 15px
    position: relative
    &--10 
        width: calc( 10% - 30px )
    &--20 
        width: calc( 20% - 30px )    
    &--30 
        width: calc(30% - 30px)
    &--40 
        width: calc( 40% - 30px )
    &--50 
        width: calc(50%  - 30px)   
    &--60 
        width: calc( 60% - 30px )
    &--70 
        width: calc(70% - 30px )   
    &--80 
        width: calc( 80% - 30px )
    &--90 
        width: calc( 90% -  30px)
    &--100 
        width: calc( 100% - 30px )

// Header
@import 'components/header'

// Intro section
.intro 
    text-align: left
    .sky 
        background: linear-gradient(180deg, #c0e8ef 0%, #00acc1 100% )
        padding: 8em 0 3em
    .sea
        width: 100%
        display: block
        margin-top: -32px
    .cody 
        position: absolute
        bottom: -75px
        z-index: 1
        max-width: 340px
        animation: float 7s ease-in-out infinite;
    .intro-title 
        font-size: 4em;
        line-height: 55px;
        text-align: left;
        color: $deepBlue
        margin: 0 0 30px
    .description
        text-align: left
        color: $lightGray
        font-size: 20px


@keyframes float 
    0% 
        transform: translatey(0px);   
    50% 
        transform: translatey(-20px) 
    100% 
        transform: translatey(0px)
    