.tips {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  
    @media (max-width: 750px) {
      flex-direction: column;
    }
  
    &__cody {
      width: 350px;
  
      @media (max-width: 550px) {
        width: 250px;
      }
    }
  }