.section--introduction {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.introduction__text {
  color: var(--secondary-text-color);
}