.section--learning-path {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.learning-path__text,
.learning-path__item {
  color: var(--secondary-text-color);
}

.learning-path__list {
  margin-top: 2rem;
  list-style: none;
}

.learning-path__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 500;
  margin-bottom: 5rem;
  position: relative;
}

.learning-path__item:last-child {
  margin-top: -8px;
  margin-left: -3px;
}

.learning-path__item:last-child svg {
  width: 28px;
  height: 28px;
}

.learning-path__item--path::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 9px;
  width: 4px;
  height: 6rem;
  background: #EBD59E;
  z-index: -1;
}