// DM Sans
@font-face 
    font-family: "DM Sans";
    src: local("DM Sans"),
    url('fonts/DM_Sans/DMSans-Bold.eot') format('embedded-opentype'),
    url('fonts/DMSans-Bold.woff') format('woff'),
    url('fonts/DMSans-Bold.ttf') format('truetype'),
    url('fonts/DMSans-Bold.svg') format('svg')
    font-weight: 700

@font-face 
    font-family: "DM Sans";
    src: local("DM Sans"),
    url('fonts/DMSans-Regular.eot') format('embedded-opentype'),
    url('fonts/DMSans-Regular.woff') format('woff'),
    url('fonts/DMSans-Regular.ttf') format('truetype'),
    url('fonts/DMSans-Regular.svg') format('svg')
    font-weight: 400

// IBM Plex Sans
@font-face 
    font-family: "IBM Plex Sans";
    src: local("IBM Plex Sans"),
    url('fonts/IBMPlexSans-Bold.eot') format('embedded-opentype'),
    url('fonts/IBMPlexSans-Bold.woff') format('woff'),
    url('fonts/IBMPlexSans-Bold.ttf') format('truetype'),
    url('fonts/IBMPlexSans-Bold.svg') format('svg')
    font-weight: 700

@font-face
    font-family: "IBM Plex Sans";
    src: local("IBM Plex Sans"),
    url('fonts/IBMPlexSans-Regular.eot') format('embedded-opentype'),
    url('fonts/IBMPlexSans-Regular.woff') format('woff'),
    url('fonts/IBMPlexSans-Regular.ttf') format('truetype'),
    url('fonts/IBMPlexSans-Regular.svg') format('svg')
    font-weight: 400