.footer
    background-color: #eeefef
    padding: 1em 0
    p 
        margin: 0
        color: $lightGray
        line-height: 1em
        a 
            text-decoration: none 
            color: $lightRed