@media (max-width: 1200px)
    .wrap 
        max-width: 90%

    .intro 
        .cody
            bottom: -95px


@media (max-width: 992px)
    .detail-vacations
        background: linear-gradient(180deg, $whiteSmoke 80%, #073e8a 80% )
    .cody-vacaciones
        display: none
    .mis-vacaciones 
        h2
            font-size: 2.5em
    .colabora 
        h2
            font-size: 2.5em
    .ruta-aprendizaje 
        h2
            font-size: 2.5em
    .mis-vacaciones
        .turtle
            display: none
    .courses-wrap
        flex-wrap: wrap
        margin-bottom: 0
        .course
            width: calc( 49% - 10px)
            margin: 25px 5px
       
    #lightbox 
        img
            max-width: 600px

@media (max-width: 768px)
    .intro
        .intro-title
            font-size: 3.1em
            line-height: 1em
        .col--40,
        .col--60
            width: calc( 100% - 30px)
        .sky
            padding: 3em 0px  
        .cody 
            display: none
        .sea 
            display: none
    .detail-vacations 
        padding: 4em 0 2em
        h2
            font-size: 2.5em
        p 
            width: 100% 
            font-size: 1em
        .ball 
            margin: 25px 0
        .courses-wrap
            margin: 3em 0 0
            .course 
                width: 100%
                margin: 25px 0
                .btn 
                    max-width: 200px
                    margin: 15px auto
    .mis-vacaciones 
        .gallery
            max-width: 100%
        .wave-bottom 
            margin-top: -20px
    .importancia-vacaciones
        p
            font-size: 1em
        .list 
            font-size: 1em

    .fotos 
        .lightbox_trigger
            width: calc(50% - 16px)

    .galeria-completa
        padding: 6em 0 2em


@media (max-width: 630px)
    .menu__label
        font-size: 1em
    .ruta-aprendizaje h2
        font-size: 2em
    .mis-vacaciones 
        h2 
            font-size: 2em
    .ruta-aprendizaje p,
    .ruta-aprendizaje ul
        font-size: 1em

    #lightbox 
        img
            max-width: 500px


@media (max-width: 576px)
    .menu
        justify-content: end 
    .menu__brand,
    .menu__list 
        width: auto !important
    .wrap 
        max-width: 100%
    .row 
        padding: 0 15px
    .menu__brand
        width: 20%
    .menu__list
        margin: 0 
        padding: 0
        width: 77%
        justify-content: flex-end
    .menu__label
        display: none
    .intro 
        .intro-title 
            font-size: 2em
        .description 
            font-size: 1em
    .ruta-aprendizaje
        .col--40,
        .col--60
            width: calc( 100% - 30px)

        .image
            max-width: 200px
            float: right
            margin-top: -80px

    .importancia-vacaciones
        .col--60,
        .col--40
            width: 100%
        .list 
            margin-top: 25px
    
    #lightbox 
        img
            max-width: 400px
            padding: 10px

@media (max-width: 425px)
    .detail-vacations 
        h2
            font-size: 2em
    .ruta-aprendizaje
        .image
            margin-top: -40px
    .colabora 
        h2 
            font-size: 2em
        p 
            font-size: 1em
    .mis-vacaciones
        h2 
            font-size: 1.5em
            margin-top: 2em
        p 
            font-size: 1em

    .importancia-vacaciones
        h2
            font-size: 2em
            line-height: 1em
    
    .fotos 
        .lightbox_trigger
            width: calc(100% - 16px)

    .galeria-completa 
        padding: 2em 0 
        h2
            font-size: 2em
    
    .fotos
        margin: 2em 0

    #lightbox 
        img
            max-width: 350px    

    .corner
        width: 35px
        height: 35px        

@media (max-width: 375px)
    .ruta-aprendizaje
        .image
            display: none
    .detail-vacations
        h2
            line-height: 1em
        .subtitle
            line-height: 1em
    .colabora 
        h2
            line-height: 1em
    .mis-vacaciones 
        .btn
            margin: 1em auto 2em

    #lightbox 
        img
            max-width: 320px
            padding: 5px

@media (max-width: 320px)
    #lightbox 
        img
            max-width: 250px
    .corner
        width: 25px
        height: 25px   