.ruta-aprendizaje
    padding: 3em 0 2em   
    background-color: #eeefef;
    h2
        font-size: 3em
        text-align: left
        line-height: 1em
        span
            color: $lightRed
    p, ul
        text-align: left
        font-size: 1.20em
    ul 
        list-style-type: none
        padding-left: 30px
        color: $lightGray
        li 
            line-height: 1em
            margin-bottom: 10px
            &::before
                content: ''
                position: absolute
                left: 0
                background-image: url('../images/check.svg')
                width: 19px
                height: 19px
