.button {
  outline: 0;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.325rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.button--primary {
  background: var(--primary-color);
  color: var(--text-color);
}