.ocean-element {
  position: absolute;
}

.ocean-element--first {
  top: 5rem;
  right: 0;
  transform: rotate(15deg);
}

.ocean-element--second {
  bottom: 5rem;
  left: 0;
  transform: rotate(-15deg);
}