//PALETTE

$colorWhite: white;
$colorNoWhite: #f5f5f5;
$colorLightGray: #d1d1d1;
$colorGray: #474e5c;
$colorNoBlack: #051626;
$colorYellow: #f8cd5b;
$colorPurple: #6e57fc;
$colorPink: #fd585f;

//FUENTES
$fontMontserrat: "Montserrat", sans-serif;
