* {
  box-sizing: border-box;
  font-family: 'Rubik', system-ui;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-background);
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

p {
  line-height: 1.5;
}
