@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto+Slab&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-dmsans
  }
  h2 {
    @apply font-extrabold;
    @apply text-xl;
  }
  img {
    @apply rounded-lg;
  }
}

.gradient {
  @apply bg-gradient-to-t from-summer-400
}

.cover {
  @apply flex h-52 p-5 items-stretch
}

.hello {
  @apply flex items-end w-20 gap-5 self-end
}

.hello__avatar {
  @apply w-12 h-12 rounded-full
}

.hello__name {
  @apply text-white font-extrabold font-roboto text-4xl
}

.navbar {
  @apply flex justify-between;
  @apply p-4;
  @apply text-white;
}

.links {
  @apply hidden lg:flex
}

.btn {
  @apply px-4 py-1 text-sm text-summer-400;
  @apply rounded-full border-2 border-summer-400 ;
  /* @apply hover:text-summer-400 hover:bg-white hover:border-transparent; */
  @apply focus:outline-none focus:ring-2 focus:ring-summer-400 focus:ring-offset-2;
}

.is-secondary {
  @apply bg-summer-400 text-white;
}

.banner {
    @apply h-screen bg-local;
    @apply bg-summer-100;
    @apply flex justify-between items-end;
}

.banner__hero {
  @apply max-w-lg;
  @apply flex flex-col justify-end;
}

.banner__comment {
  @apply flex flex-col gap-5;
  @apply text-2xl p-8 bg-summer-300;
}

.banner__photos {
  width: 50%;
  height: 50%;
  transition: all .1s ease-in-out;
  background-image: url(../images/1.jpg);
  -webkit-animation: banner 8s infinite linear;
          animation: banner 8s infinite linear;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@-webkit-keyframes banner {
  0% {
    background-image: url(../images/1.jpg);
  }

  25% {
    background-image: url(../images/1.jpg);
  }

  26% {
    background-image: url(../images/2.jpg);
  }

  50% {
    background-image: url(../images/2.jpg);
  }

  51% {
    background-image: url(../images/3.jpg);
  }

  75% {
    background-image: url(../images/3.jpg);
  }

  76% {
    background-image: url(../images/4.jpg);
  }

  100% {
    background-image: url(../images/4.jpg);
  }
}