// COLOR VARIABLES
$color-sand: #f2dec4;
$color-water: #085675;
$color-waves: #0f5e9c;

// FONT VARIABLES
$font-title: "Oswald", sans-serif;
$font-text: "Source Sans Pro", sans-serif;

// UTILITIES VARIABLES
$margin-small: 2rem;
$margin-medium: 4rem;
$margin-large: 6rem;
$margin-xLarge: 8rem;
