mixin navbar(pageName, pageHref)
  nav.siteNavbar
    section
      span
        a(href='#')
          img(src="images/navbar.png" alt="logo-not-found" height="40")
      a(href=pageHref)
        button= pageName
